<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand" href="#">
      <a [routerLink]="['/']">
        <img [src]="logo" [alt]="logoAlt" class="me-4" style="width: 70px" />
      </a>
      <h2 class="text-white mb-0 mx-0 d-inline-block">{{ title }}</h2>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngFor="let link of links" class="nav-item">
          <a
            class="text-white text-decoration-none nav-link active"
            aria-current="page"
            [routerLink]="link.href"
          >
            <b>{{ link.name }}</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
