<div class="container-fluid bg-gray p-3 text-white">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-3 p-2">
        <a
          href="https://www.ucacue.edu.ec/"
          class="text-white text-decoration-none"
        >
          www.ucacue.edu.ec
        </a>
      </div>
      <div class="col-12 col-md-3 p-2">&copy; WGDesign</div>
      <div class="col-12 col-md-3 p-2">
        <div>
          Echo con
          <a href="https://angular.io/" class="text-white text-decoration-none"
            >angular.io</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
