<div class="card mb-5 border-0">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img
        [src]="subject.image"
        class="img-fluid rounded-start w-75"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">
          {{ subject.name }}
        </h2>
        <p class="card-text">
          {{ subject.description }}
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngFor="let video of subject.videos">
    <app-videocard [video]="video"> </app-videocard>
  </div>
</div>
